@media (min-width: 1400px){
  .container {
    width: 1400px;
  }
}

@media (min-width: 1200px) {
  .post-container, .sidebar-container {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .post-container {
      padding-right: 0;
      padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-style: normal;
  }
}

blockquote {
  background: #f6f6f6;
  font-size: .85em;
}

.catalog-body li {
  font-weight: 600;
  color: rgb(41, 41, 41)
}
.h4_nav a {
  font-size: 1.7rem;
  line-height: 40px;
  color: #333 !important;
  font-weight: bolder;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h5_nav {
  margin-left: 18px;
}
.h5_nav a {
  font-size: 1.6rem;
  font-weight: normal;
  color: #333 !important;
  line-height: 30px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h4_nav.active,
.h5_nav.active {
  color: #007fff !important;
}
.h4_nav.active a,
.h5_nav.active a {
  color: #007fff !important;
}

img {
  box-shadow: 2px 4px 7px #999;
  border-radius: 6px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  opacity: 0 !important;
}

.bg h6 {
  color: black;
  line-height: 60px !important;
}

.bg p {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.sidebar-container .catalog-toggle {
  font-size: 1.8rem;
  color: #000;
}

.markdown-bg h5 {
  font-size: 17px;
  color: rgb(32, 32, 32);
}

.markdown-bg h4 {
  margin-bottom: 15px;
  font-weight: bold;
  color: #40B8FA;
  border-bottom: 2px solid #40B8FA;
  font-size: 20px;
  padding-bottom: 10px;
}

.markdown-bg li {
  padding-top: 6px;
  line-height: 26px;
  color: #2b2b2b;
  margin: 10px 0px;
  letter-spacing: 2px;
  font-size: 14px;
  word-spacing: 2px;
}

.markdown-bg blockquote {
  font-style: normal;
  color: #2b2b2b;
  line-height: 35px;
}

code {
  color: #3594F7;
  background-color: rgba(59, 170, 250, .1);
  margin: 0 5px;
}

.bg,
.markdown-bg {
  width: 100%;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
}

.markdown-bg {
  padding: 2px 20px;
}
.tips {
  border-radius: 5px;
  border: 1px solid rgba(40, 113, 187, .4);
  background: rgba(40, 113, 187, .1);
  line-height: 30px;
  font-size: 12px;
  padding: 20px;
}

.bg .title {
  line-height: 50px;
  font-weight: bold;
  color: #2871bb;
  font-size: 20px;
}

.chaper .sub-title{
  color: #595959;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.chaper .detail-title {
  margin: 25px;
  border-bottom: 1px solid #2871bb;
}

.chaper .detail-title span {
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  background: #2871bb;
  color: #ffffff;
  padding: 10px 10px 2px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}

/* 目录ul */
.chaper ul.ul-catalog {
  list-style-type: circle;
  margin-bottom: 0px;
}

.chaper ul.ul-catalog li a {
  text-decoration: none;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 26px;
  text-align: left;
  color: #1428bb;
  font-weight: normal;
  border-bottom: 1px solid #1428bb;
}

/* 详情ul */
.chaper ul.ul-detail {
  list-style-type: none;
  margin-bottom: 0px;
}

.chaper ul.ul-detail li {
  font-size: 14px;
  line-height: 40px;
}

.chaper ul.ul-detail li .coding{
  font-size: 13px;
  background: #1E1E1E;
  color: #DCDCDC;
  padding: 5px 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-right: 100px;
}

.chaper ul.ul-detail li.problem {
  border-bottom: 1px solid rgba(255, 2, 2, 0.6);
  margin: 20px 25px 30px 0;
  line-height: 20px;
}

.chaper ul.ul-detail li.resolve {
  color: #2871bb;
}

.chaper ul.ul-detail li.problem span {
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  background: rgba(255, 2, 2, 0.6);
  color: #ffffff;
  padding: 4px 5px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.chaper .code {
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 12px;
  padding: 4px 10px;
}

.chaper .blockquotes {
  padding: 20px;
  background-color: #f7f7f7;
  border-left: 6px solid #ced1d3;
  color: #696969;
  font-size: 13px;
  padding: 10px 10px;
  margin: 25px;
}

.chaper .blockquotes-line {
  padding: 20px;
  background-color: #f7f7f7;
  border-left: 6px solid #ced1d3;
  color: #696969;
  font-size: 13px;
  padding: 10px 10px;
  margin: 25px 100px 25px 20px;
}